.idea/

build/
cmake-build-debug/
dataset/
models/
thirdparty/

**/fc_base

**/*.bib
**/*.bin
**/*.bz2
**/*.conf
**/*.csv
**/*.def
**/*.doc
**/*.DOC
**/*.flac
**/*.gz
**/*.h5
**/*.ipynb
**/*.jpg
**/*.list
**/*.map
**/*.mp3
**/*.msgpack
**/*.npy
**/*.npz
**/*.old
**/*.onnx
**/*.pth
**/*.phn
**/*.pkl
**/*.png
**/*.tab
**/*.th
**/*.TextGrid
**/*.tsv
**/*.wav
**/*.whl
**/*.wrd
**/*.xlsx
**/*.xml
**/*.yaml
**/*.yml
**/*.zip
